body{
padding: 0;
margin: 0;      
}
#map {
    height: 710px;
    width: 100%;
}
#tble-data {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 10px;
    background-color: white;
    overflow: auto;
    max-height: 250px;
}
#tble-data-line {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 10px;
    background-color: white;
    overflow: auto;
    max-height: 250px;
}
th,
td {
    border: 0.5px solid black;
}
#legend {
    z-index: 999;
    display: none;
    position: absolute;
    bottom: 33px;
    right: 11px;
    width: 133px;
}
/* my default style for openlayers control that i have created */
.create-point-class {
    top: 58px;
    left: .5em;
}
.legend-class {
    top: 84px;
    left: .5em;
}
.table-class {
    top: 110px;
    left: .5em;
}
.information-class {
    top: 137px;
    left: .5em;
}
.lineCreate-class {
    top: 163px;
    left: .5em;
}